<html>
<head>
    <title>$i18n.getText("uz.takewqa.rocket.webwork.title.name")</title>
    <meta name="decorator" content="atl.admin"/>
    <meta name="admin.active.section" content="admin_plugins_menu/my-section/my-web-item"/>
</head>
<body>

<form class="aui" method="POST" action="RocketWebAction!save.jspa">
    <div class="field-group">
        <label for="rocketLogin">$i18n.getText("uz.takewqa.rocket.webwork.login.label")</label>
        <input class="text medium-field" type="text" id="rocketLogin" name="rocketLogin" value="$!{rocketLogin}">
        <div class="description">$i18n.getText("uz.takewqa.rocket.webwork.login.description")</div>
    </div>
    <div class="field-group">
        <label for="rocketPassword">$i18n.getText("uz.takewqa.rocket.webwork.password.label")</label>
        <input class="text medium-field" type="password" id="rocketPassword" name="rocketPassword"
               value="$!{rocketPassword}">
        <div class="description">$i18n.getText("uz.takewqa.rocket.webwork.password.description")</div>
    </div>
    <div class="field-group">
        <label for="rocketUrl">$i18n.getText("uz.takewqa.rocket.webwork.url.label")</label>
        <input class="text medium-field" type="text" id="rocketUrl" name="rocketUrl" value="$!{rocketUrl}">
        <div class="description">$i18n.getText("uz.takewqa.rocket.webwork.url.description")</div>
    </div>
    <div class="buttons-container">
        <div class="aui-buttons">
            <input class="aui-button" type="submit"
                   value=$i18n.getText("uz.takewqa.rocket.webwork.save.label") id="save-user-data">
        </div>
        <p>
            #foreach($entry in $status.entrySet())
                #set($key = $!{entry.getKey()})
                #if($key == "error")
                    <span class="aui-lozenge aui-lozenge-$!{entry.getKey()}">$i18n.getText(
                        "uz.takewqa.rocket.webwork.validation.error.text")</span>
                #else
                    <span class="aui-lozenge aui-lozenge-$!{entry.getKey()}">$i18n.getText(
                        "uz.takewqa.rocket.webwork.validation.success.text")</span>
                #end

            #end
        </p>
    </div>
</form>
</body>
</html>
